body {
    font-family: "Montserrat";
    margin: 0
}

div {
    display: block;
}

li {
    list-style-type: none;
    font-size: 1.2rem;
}

#topbar {
    background-color: #2274A5;
    height: 2rem;
    padding: 1.4rem 1rem 0.6rem 1rem;
    top: 0;
}

#calendar button {
    margin-left: 1rem;
    margin-right: 1rem;
}

#left {
    float: left;
    color: white;
    font-size: 20px;
}

#right {
    float: right; 
}

#right img {
    padding-left: 2rem;
}

#calendar {
    max-width: inherit;
    margin-top: 1rem;
}

#footer {
    height: 2rem;
    background-color: #2274A5;
    color: white;
    text-align: center;
    padding-top: 1rem;
    width: 100%;
}

.link {
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: #2274a5;
    padding: 0.6rem;
    font-weight: bold;
    margin-left: 1rem;
}

#dayinfo {
    height: 450px;   
    width: 100%;
    text-align: center;
}

#dayinfo div {
    display: inline-block;
}

#title {
    text-align: center;
}

#events {
    height: 300px;
    width: 300px;
    background-color: #297373;
    border-radius: 10px;
    margin: 2rem;
    text-align: center;
    padding: 0.5rem;
    color: white;
    overflow: hidden;
}

#class {
    height: 300px;
    width: 300px;
    background-color: #B3001B;
    border-radius: 10px;
    margin: 2rem;
    text-align: center;
    padding: 0.5rem;
    color: white;
    overflow: hidden;
}

#goals {
    height: 300px;
    width: 300px;
    background-color: #1F2041;
    border-radius: 10px;
    margin: 2rem;
    text-align: center;
    padding: 0.5rem;
    color: white;
    overflow: hidden;
}

.modal {
    text-align: center;
}

.vex-dialog-message {
    display: none;
}

select {
    width: 100%;
    min-height: 2.5rem;
}

/* Spinner CSS */

.spinner {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    position: relative;
    text-align: center
}

.cube1, .cube2 {
    background-color: #2274a5;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30%;
    left: 30%;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    }
}

/* Modal CSS */

.modalDialog {
    background: #2274a5;
    font-family: "Montserrat";
}

.modalDialog .ui-dialog-titlebar {
    
}

label {
    float: left;
    text-align: right;
    margin-right: 20px;
    width: 150px;   
}

.checkboxgrid li {
    display: block;
    width: 25%;
    float: left;
}